<!--============== Sign Up ==============-->

<div class="container sign-in-up" id="contact" ng-controller="UserController">
  <div class="row PageHead">
    <div class="col-md-12">
      <h1>Sign Up</h1>
      <div class="form-group text-center">
            <a href="#/login"><label>Have an account? Login here.</label></a>
        </div>
    </div>
  </div>
  <HR>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
          <div class="col-md-12 text-center">
            <h3>Personal & Company</h3>
          </div>
      </div>
      <div class="classWithPad">
            <form class="form" id="signupForm">
              <label>Name:</label>
              <div class="form-group form-group-lg">
                <div class="right-inner-addon">
                  <i class="fa fa-user"></i>
                  <input class="form-control" type="text" placeholder="Full Name" name="name" id="name" ng-model="formData.nama" required>
                </div>
              </div>
              <label>Company Name:</label>
              <div class="form-group form-group-lg">
                <div class="right-inner-addon">
                  <i class="fa fa-building-o"></i>
                  <input class="form-control" type="text" placeholder="Company Name" name="companyName" id="companyName" ng-model="formData.nama_perusahaan" required>
                </div>
              </div>
              <label>Address:</label>
              <div class="form-group form-group-lg">
                <div class="right-inner-addon">
                  <i class="fa fa-road"></i>
                  <input class="form-control" type="text" placeholder="Address" name="address" id="address" ng-model="formData.alamat" required>
                </div>
              </div>
              <label>Phone Number:</label>
              <div class="form-group form-group-lg">
                <div class="right-inner-addon">
                  <i class="fa fa-phone"></i>
                  <input class="form-control" type="text" placeholder="Valid Phone Number" name="phoneNumber" id="phoneNumber" ng-model="formData.no_telp" required>
                </div>
              </div>
              <label>Email Address:</label>
              <div class="form-group form-group-lg">
                <div class="right-inner-addon">
                  <i class="fa fa-envelope"></i>
                  <input class="form-control" type="email" placeholder="Valid Email" name="email" id="email" ng-model="formData.email" required>
                </div>
              </div>
              <label>Password:</label>
              <div class="form-group form-group-lg">
                <div class="right-inner-addon">
                  <i class="fa fa-key"></i>
                  <input class="form-control" type="password" placeholder="Password" name="password" id="password" ng-model="formData.password" required>
                </div>
              </div>
              <label>Confirm Password:</label>
              <div class="form-group form-group-lg">
                <div class="right-inner-addon">
                  <i class="fa fa-key"></i>
                  <input class="form-control" type="password" placeholder="Password" name="password" id="password" ng-model="formData.password" required>
                </div>
              </div>
    </div> <!-- div class with pads personal data -->
    </div> <!-- div row -->
    <div class="col-md-6">
      <div class="row">
          <div class="col-md-12 text-center">
            <h3>Payment</h3>
          </div>
      </div>
      <div class="classWithPad">
        <label>Name:</label>
        <div class="form-group form-group-lg">
          <div class="right-inner-addon">
            <i class="fa fa-user"></i>
            <input class="form-control" type="text" placeholder="Name" name="ccName" id="ccName" ng-model="formData.nama_cc" required>
          </div>
        </div>
        <label>Billing Address:</label>
        <div class="form-group form-group-lg">
          <div class="right-inner-addon">
            <i class="fa fa-road"></i>
            <input class="form-control" type="text" placeholder="Billing Address" name="ccAddress" id="ccAddress" ng-model="formData.alamat_cc" required>
          </div>
        </div>
        <label>Credit Card Number:</label>
        <div class="form-group form-group-lg">
          <div class="right-inner-addon">
            <i class="fa fa-credit-card"></i>
            <input class="form-control" type="text" placeholder="Credit Card Number" name="ccNumber" id="ccNumber" ng-model="formData.nomor_cc" required>
          </div>
        </div>
        <label>Card Verification Code (CVC):</label>
        <div class="form-group form-group-lg">
          <div class="right-inner-addon">
            <i class="fa fa-user"></i>
            <input class="form-control" type="text" placeholder="CVC" name="cvc" id="cvc" ng-model="formData.nomor_vcv" required>
          </div>
        </div>
        <label>Expiration Month:</label>
        <div class="form-group form-group-lg">
          <div class="right-inner-addon">
            <i class="fa fa-calendar"></i>
            <input class="form-control" type="text" placeholder="MM" name="ccMonth" id="ccMonth" ng-model="formData.bulan_expire" required>
          </div>
        </div>
        <label>Expiration Year:</label>
        <div class="form-group form-group-lg">
          <div class="right-inner-addon">
            <i class="fa fa-calendar"></i>
            <input class="form-control" type="text" placeholder="YYYY" name="ccYear" id="ccYear" ng-model="formData.tahun_expire" required>
          </div>
        </div>
      </div> <!-- div class with pads col payment -->
    </div> <!-- div col payment -->
    <div class="row PageHead">
      <div class="col-md-12">
        <HR>
        <div class="form-group">
          <p>
            <button ng-click="registerUser()" id="submit" class="btn btn-success btn-lg center-block" type="submit">Sign Up</button>
          </p>
          <span class="loading"></span> 
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>