<!--============== Restricted Page ==============-->

<div class="container sign-in-up" id="contact">
  <div class="row PageHead">
    <div class="col-md-12">
      <h1>Caution!</h1>
      <h3>You're about to access global environment.<br/>If you proceed to continue your session will be expired.</h3>
      <br/>
    </div>
  </div>
  <div class="row">    
    <div class="col-md-4 col-md-offset-4">
      <HR>
        <div class="form group">
           <button ng-click="loginUser()" id="submit" class="btn btn-success btn-lg center-block" type="submit">Go back</button>
           <br/>
           <div class="text-center">
             <label>or</label>
          </div>
          <br />         
          </div>
            <button ng-click="loginUser()" id="submit" class="btn btn-danger btn-lg center-block" type="submit">Continue</button>
        </div>
          

          
  </div>
</div>