
<!--============== Profile ==============-->

<div class="container sign-in-up" id="contact" ng-controller="UserController" ng-init="loadUserProfile()">
  <div class="row PageHead">
    <div class="col-md-12">
      <h1>Profile</h1>
    </div>
  </div>
  <HR>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
          <div class="col-md-12 text-center">
            <h3>Personal & Company</h3>
          </div>
      </div>
      <div class="classWithPad">
	  <!-- <tt>cookies: {{loggedUser.token}}</tt> <== Buat nampilin token dummy -->
            <form class="form" id="signupForm">
              <label>Name:</label>
              <div class="form-group form-group-lg">
                <div class="right-inner-addon">
                  <i class="fa fa-user"></i>
                  <input class="form-control" type="text" placeholder="Full Name" name="name" id="name" ng-model="loggedUserProfile.nama_user" ng-readonly="true">
                </div>
              </div>
              
              <label>Company Name:</label>
              <div class="form-group form-group-lg">
                <div class="right-inner-addon">
                  <i class="fa fa-building-o"></i>
                  <input class="form-control" type="text" placeholder="Company Name" name="companyName" id="companyName" disabled ng-model="loggedUserProfile.nama_perusahaan_user" >
                </div>
              </div>
              
              <label>Address:</label>
              <div class="form-group form-group-lg">
                <div class="right-inner-addon">
                  <i class="fa fa-road"></i>
                  <input class="form-control" type="text" placeholder="Address" name="address" id="address" disabled ng-model="loggedUserProfile.alamat_user" >
                </div>
              </div>
              
              <label>Phone Number:</label>
              <div class="form-group form-group-lg">
                <div class="right-inner-addon">
                  <i class="fa fa-phone"></i>
                  <input class="form-control" type="text" placeholder="Valid Phone Number" name="phoneNumber" id="phoneNumber" disabled ng-model="loggedUserProfile.no_telp_user">
                </div>
              </div>
              
              <label>Email Address:</label>
              <div class="form-group form-group-lg">
                <div class="right-inner-addon">
                  <i class="fa fa-envelope"></i>
                  <input class="form-control" type="text" placeholder="Valid Email" name="email" id="email" disabled ng-model="loggedUserProfile.email_user">
                </div>
              </div>
              
    </div> <!-- div class with pads personal data -->
    </div> <!-- div row -->
    <div class="col-md-6">
      <div class="row">
          <div class="col-md-12 text-center">
            <h3>Payment</h3>
          </div>
      </div>
      <div class="classWithPad">
        
        <label>Name:</label>
        <div class="form-group form-group-lg">
          <div class="right-inner-addon">
            <i class="fa fa-user"></i>
            <input class="form-control" type="text" placeholder="Name" name="ccName" id="ccName" disabled ng-model="loggedUserProfile.nama_cc_user">
          </div>
        </div>
        
        <label>Billing Address:</label>
        <div class="form-group form-group-lg">
          <div class="right-inner-addon">
            <i class="fa fa-road"></i>
            <input class="form-control" type="text" placeholder="Billing Address" name="ccAddress" id="ccAddress" disabled ng-model="loggedUserProfile.alamat_cc_user">
          </div>
        </div>
        
        <label>Credit Card Number:</label>
        <div class="form-group form-group-lg">
          <div class="right-inner-addon">
            <i class="fa fa-credit-card"></i>
            <input class="form-control" type="text" placeholder="Credit Card Number" name="ccNumber" id="ccNumber" disabled ng-model="loggedUserProfile.nomor_cc_user">
          </div>
        </div>
        
        <label>Card Verification Code (CVC):</label>
        <div class="form-group form-group-lg">
          <div class="right-inner-addon">
            <i class="fa fa-user"></i>
            <input class="form-control" type="text" placeholder="CVC" name="cvc" id="cvc" disabled ng-model="loggedUserProfile.nomor_vcv_user">
          </div>
        </div>
        <label>Expiration Month:</label>
        <div class="form-group form-group-lg">
          <div class="right-inner-addon">
            <i class="fa fa-calendar"></i>
            <input class="form-control" type="text" placeholder="MM" name="ccMonth" id="ccMonth" disabled ng-model="loggedUserProfile.expire_month_user">
          </div>
        </div>
        
        <label>Expiration Year:</label>
        <div class="form-group form-group-lg">
          <div class="right-inner-addon">
            <i class="fa fa-calendar"></i>
            <input class="form-control" type="text" placeholder="YYYY" name="ccYear" id="ccYear" disabled ng-model="loggedUserProfile.expire_year_user">
          </div>
        </div>
      </div> <!-- div class with pads col payment -->
    </div> <!-- div col payment -->
    <div class="row PageHead">
      <div class="col-md-12">
        <HR>
        <div class="form-group">
          <p>
            <input id="submit" class="btn btn-success btn-lg center-block" type="button" value="Edit" href="editProfile_user.html" />
          </p>
          <span class="loading"></span> 
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>